{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Conditions Générales de Vente</h1>

		<p>1. Objet</p>
		<p>Ces Conditions Générales de Vente (ci-après "CGV") régissent les relations contractuelles entre
			{{companyName}}, [adresse de votre entreprise], [numéro de téléphone], [adresse e-mail] (ci-après "le Vendeur") et tout utilisateur du site web [votre site web] (ci-après "le Client").</p>

		<p>2. Commandes</p>
		<p>Le Client peut passer commande sur le site web [votre site web]. Les informations sur les produits sont disponibles sur le site et sont soumises aux CGV. Le processus de commande est [expliquez brièvement le processus de commande].</p>

		<p>3. Prix et Paiement</p>
		<p>Les prix des produits sont indiqués sur le site web. Le paiement peut être effectué par [modes de paiement acceptés].</p>

		<!-- Ajoutez d'autres sections de CGV selon vos besoins -->

		<p>17. Droit applicable</p>
		<p>Les présentes CGV sont régies par le droit en vigueur en [votre pays ou région].</p>

		<p>18. Contact</p>
		<p>Pour toute question ou réclamation, vous pouvez contacter [coordonnées de contact de votre entreprise].</p>
	</div>
{% endblock %}
